<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="../css/bootstrap.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
       
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/image-picker.css">
        <script src="https://www.gstatic.com/firebasejs/3.3.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.3.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.3.1/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.3.1/firebase-storage.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.3.1/firebase.js"></script>
<script>
<!-- FIREBASE -->
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBym9z15u1SyHDI8fBZzdqeNQ2j1Nv4s4g",
    authDomain: "sexy-hire.firebaseapp.com",
    databaseURL: "https://sexy-hire.firebaseio.com",
    storageBucket: "sexy-hire.appspot.com",
  };
  firebase.initializeApp(config);
</script>

        <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="../js/vendor/bootstrap.min.js"></script>

        <script src="../js/main.js"></script>
        <script src="../js/image-picker.min.js"></script>
        

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </head>
    <body data-type="background">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <nav class="navbar navbar-default">
 <div class="container-fluid"> 
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
     <a class="navbar-brand" href="/"><img src="../img/logo.png" alt="logo" /></a></div>
   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="defaultNavbar1">
     <ul class="nav navbar-nav">
       <li><a href="#">TALENTO</a></li>
       <li><a href="#">FOTOGRAFÍA</a></li>
       <li><a href="#">DISEÑO DE IMAGEN</a></li>
     </ul>
     <form class="navbar-form navbar-left" role="search">
       <div class="form-group">
         <input type="text" class="form-control" placeholder="Search">
       </div>
       <button type="submit" class="btn btn-default">Buscar</button>
     </form>
     <ul class="nav navbar-nav navbar-right">
        {{#unless usuario}}
           <a href="/login"><li class="btn-sube">Sube TU BOOK</li></a>
        {{else}}
           <a href="/portafolio/{{usuario.id}}">{{usuario.name}}</a>
        {{/unless}}
     </ul>
   </div>
   <!-- /.navbar-collapse --> 
 </div>
 <!-- /.container-fluid --> 
</nav>
    

    
      {{{body}}}

      
 </div> <!-- /container --> 
      <footer>
  <div class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
      <h4 class="t">TOP <strong>FACE</strong></h4>
      <div class="modulo">
           <img src="../img/pic1.png" alt="pic1" />
      <span>Mari Guajardo <br> CDMX <br> Gio</span>
   </div>
    <div class="modulo">
           <img src="../img/pic2.png" alt="pic1" />
      <span>Juana Álvarez <br> QRO <br> Edecan </span>
   </div>
    <div class="modulo">
           <img src="../img/pic3.png" alt="pic1" />
      <span>Marcela Mayela <br> GDL <br> Ballet </span>
   </div>
    </div>
    <div class="text-center col-sm-4">
      <h4 class="t">TOP <strong>MAQUILLAJE</strong></h4>
      <div class="modulo">
           <img src="../img/pic4.png" alt="pic1" />
      <span>Mari Guajardo <br> CDMX <br> Gio</span>
   </div>
    <div class="modulo">
           <img src="../img/pic5.png" alt="pic1" />
      <span>Juana Álvarez <br> QRO <br> Edecan </span>
   </div>
    <div class="modulo">
           <img src="../img/pic6.png" alt="pic1" />
      <span>Marcela Mayela <br> GDL <br> Ballet </span>
   </div>
    </div>
    <div class="text-center col-sm-4">
      <h4 class="t">LO MÁS <strong>IN</strong></h4>
      <div class="izq">
      <ul>
      <li>Fotográfía exterior</li>
      <li>Modelos Skinny</li>
      <li>Modelos cabello largo</li>
      <li>Bodypaint</li>
      <li>Peinado exótico</li>
      <li>Fotografía de estudio</li>
      <li>Modelos asiáticos </li>
      <li>Modelos latinos </li>
      <li>Edecan</li>
      </ul>
      </div>
      <div class="droite">
      <ul>
      <li>302</li>
      <li>250</li>
      <li>145</li>
      <li>123</li>
      <li>102</li>
      <li>96</li>
      <li>91</li>
      <li>80</li>
      <li>45</li>
      </ul>
      </div>

    </div>
    
   <div class="row">  
    <div class="line">
    </div> 
   </div> 
    
  </div>
   
 <div class="row">
    <div class="col-sm-4 text-center">
          <h4 class="t"></h4>
      <img src="../img/logo.png" alt="logo" width="180" />
    </div>
    <div class="text-center col-sm-4">
      <h4 class="t">FUZION <strong>TALENTO</strong></h4>
      <p>Somos una plataforma que logra unir todos las piezas del ámbito moda/belleza, como fotógrafos, maquillistas, modelos, edecanes, etc.
Encuentra todo en un solo lugar.

Tu conexión con el mundo de la moda</p>
    </div>
    <div class="text-center col-sm-4">
      <h4 class="t">SÍGUENOS</h4>
<div class="face"><img src="../img/face.png" alt="face" /></div>      
<div class="face"><img src="../img/ins.png" alt="face" /></div>       
<div class="face"><img src="../img/fl.png" alt="face" /></div> 
    </div>
</div>  

<div class="row">

</div>
</div>

<div class="noir">
   Derechos Reservados Fuzion Talento  2016 
   </div>


  </footer>
   



    
    </body>
</html>
