<h1>Cuentanos sobre ti, tu experiencia y proyectos.</h1>

<form method="POST" action="/acerca-de-ti">
	<textarea id="presentacion" name="presentacion" rows="10" cols="100"></textarea>
	<div>
	<input type="submit" value="Coninuar" />
</div>
</form>