<h1>Cuentanos sobre ti.</h1>

<div id="cmiscelaneos">
<h2>Cuentanos sobre ti</h2>
	<form method="POST" action="/acerca-de-ti">
		<div class="descripcion">
		<textarea id="presentacion" name="presentacion" rows="11" cols="62"></textarea>
		</div>
		<input class="btn-continuar" type="submit" value="Continuar" />
		
	</form>
</div>
