<h1>Cuentanos sobre ti.</h1>

<form method="POST" action="/acerca-de-ti">
	<div id="cmiscelaneos">
  <h2>Cuentanos sobre ti</h2>
  <div class="descripcion">
  	<textarea id="presentacion" name="presentacion" rows="11" cols="62"></textarea>
	<div>
	<input class="btn-continuar" type="submit" value="Coninuar" />
</div>
</div>
</form>