<h1>Confirma tus datos</h1>

<div id="cmiscelaneos">
  <div class="fotoperfil">
  <img src="{{dato.FotoPerfil}}" alt="perfil" />
  </div>
  <h2>Confirma tus datos</h2>
  <div class="sbook"> 
<div class="resultado">{{dato.Nombre}}</div>
<div class="resultado">{{dato.Presentacion}}</div>
</div>

<a class="btn-continuar">Listo!</a>

