<h1>Login</h1>
<p>Logueate chingon con Facebook Index modificado</p>
<button id="fb_login" class="btn success">Logueate mi rey con Facebook</button>

<script type="text/javascript">
	var provider = new firebase.auth.FacebookAuthProvider();
	

	$("#fb_login").on("click",function(e){
		console.log(firebase.auth().signInWithPopup(provider));
		
		firebase.auth().signInWithPopup(provider).then(function(result) {
			console.log("Hello Result: " + result);
		  // This gives you a Facebook Access Token. You can use it to access the Facebook API.
		  var token = result.credential.accessToken;
		  // The signed-in user info.
		  var user = result.user;
		  // ...
		}).catch(function(error) {
		  // Handle Errors here.
		  var errorCode = error.code;
		  var errorMessage = error.message;
		  // The email of the user's account used.
		  var email = error.email;
		  // The firebase.auth.AuthCredential type that was used.
		  var credential = error.credential;
		  // ...
		});
	});

	</script>