<h1>Selector</h1>

<form method="POST" action="/selector">
	<input type="radio" name="selector" value="Modelo" /><label>Modelo</label>
	<input type="radio" name="selector" value="Edecan / Gio" /><label>Edecan / Gio</label>
	<input type="radio" name="selector" value="Fotografo" /><label>Fotografo</label>
	<input type="radio" name="selector" value="Maquillista / Estilísta" /><label>Maquillista / Estilísta</label>

	<input type="submit" value="Continuar" />
</form>
