<h1>Elige tu profesión</h1>

<form method="POST" action="/selector">
	<div id="cmiscelaneos">
       <div class="fotoperfil">
   <img src="{{usuario.photo}}" alt="perfil" />
   </div>
   <h2>Hola {{usuario.name}} </h2>
   <h2>Elige tu actividad</h2>

<!--<div class="btn-group selector" id="radio-selector" >
   <form method="POST" action="/selector">
  <label class="btn active">
    <input type="radio" name='selector' value="modelo" checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span>Modelo</span>
  </label>
  <label class="btn">
    <input type="radio" name='selector' value="edecan/gio" checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span>Edecan / Gio</span>
  </label>
   <label class="btn">
    <input type="radio" name='selector' value="fotografo" checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span>Fotografo</span>
  </label>
   <label class="btn">
    <input type="radio" name='selector' value="maquillista/estilista" checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span>Maquillista / Estilista</span>
  </label>

   <input type="submit" value="Continuar" />
</form>
</div>
   </div>-->

   <div class="btn-group" id="radio-selector" >
   <form method="POST" action="/selector">
	<label class="btn active"><input type="radio" name="selector" value="modelo" />Modelo</label>
	<label class="btn"><input type="radio" name="selector" value="edecan/gio" />Edecan / Gio</label>
	<label class="btn"><input type="radio" name="selector" value="fotografo" />Fotografo</label>
	<label class="btn"><input type="radio" name="selector" value="maquillista/estilísta" />Maquillista / Estilísta</label>

	<input type="submit"  class="btn-continuar" value="Continuar" />
   </form>
</div>
</div>
